*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body {
    background-color: hsl(26, 35%, 92%);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    background-color: hsl(0, 0%, 100%);
    width: 600px;
    height: 450px;
    display: flex;
    flex-direction: row;
    border-radius: 10px;
    font-size: 14px;
}

img {
    width: 300px;
    height: 450px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 10px 0px 0px 10px;
}

.contentbox {
    padding: 30px;
}

h1 {
    padding-bottom: 20px;
    font-family: 'Fraunces', serif;
    font-weight: 700;
    font-size: 32px;
    line-height: 30px;
}

h3 {
    padding-bottom: 15px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    color: hsl(230, 5%, 53%);
    font-size: 14px;
    letter-spacing: 4px;
}

.ptext {
    padding-bottom: 20px;
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    color: hsl(230, 5%, 53%);
    line-height: 25px;
}

.pprice {
    padding-bottom: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.one {
    color:hsl(153, 23%, 41%);
    font-weight: 700;
    font-family: 'Fraunces', serif;
    font-size: 30px;
}

.two {
    font-size: 14px;
    text-align: left;
    margin: 20px;
    text-decoration: line-through;
    color: hsl(230, 5%, 53%);
    font-family: 'Montserrat', sans-serif;
}

button {
    width: 240px;
    background-color: hsl(153, 23%, 41%);
    color: hsl(0, 0%, 100%);
    border-radius: 10px;
    height: 50px;
    border: none;
}

/* For Mobile Screen  */


@media (max-width: 500px) {

    body {
        background-color: hsl(26, 35%, 92%);
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .container {
        background-color: hsl(0, 0%, 100%);
        width: 340px;
        height: 600px;
        display: flex;
        flex-direction: column;
    }
    
    img {
        width: 340px;
        height: 250px;
        border-radius: 10px 10px 0px 0px;
    }

    .contentbox {
        padding: 10px 10px 10px 20px;
    }
    
    h1 {
        padding-bottom: 15px;
        font-family: 'Fraunces', serif;
        font-weight: 700;
        font-size: 32px;
        line-height: 30px;
    }
    
    h3 {
        padding-bottom: 15px;
        font-family: 'Montserrat', sans-serif;
        font-weight: 500;
        color: hsl(230, 5%, 53%);
        font-size: 14px;
        letter-spacing: 4px;
    }
    
    .ptext {
        padding-bottom: 10px;
        font-size: 14px;
        font-family: 'Montserrat', sans-serif;
        color: hsl(230, 5%, 53%);
        padding: 0px 30px 0px 0px;
        line-height: 25px;
    }
    
    .pprice {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 0px !important;
    }
    
    .one {
        color:hsl(153, 23%, 41%);
        font-weight: 700;
        font-family: 'Fraunces', serif;
        font-size: 25px;
    }
    
    .two {
        font-size: 12px;
        text-decoration: line-through;
        color: hsl(230, 5%, 53%);
        font-family: 'Montserrat', sans-serif;
    }
    
    button {
        width: 300px;
        background-color: hsl(153, 23%, 41%);
        color: hsl(0, 0%, 100%);
        border-radius: 10px;
        height: 50px;
        border: none;
    }

  }